*{
    margin: 0;
    padding: 0%;
}

:root{
    font-size: 16px;
}



body{
    display: grid;
    place-content: center;
}


header{
    border-bottom: rgb(187, 183, 183) solid 2px;
    padding: 20px;
    /* text-align: center; */
}

.products{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
    gap: 1rem;   
}

.product{
    padding: 1rem;
    opacity: 0.8;
}

img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.product-text{
    display: grid;
    margin-top: -5px;
    /* border: 1px solid black; */
    padding: 3rem 1.5rem;
    border-radius: 0px 0px 10px 10px;
    justify-content: center;
    text-align: center;
    gap: 3px;
    box-shadow: inset rgb(138 138 138) 0px -4px 2px 0px;
}

button{
    padding: 10px 25px;
    border-radius: 7px;
    border: none;
    background-color: #2c3df6;
    color: #fff;
}


span{
    font-weight: bold;
    font-size: 20px;
}

button:hover{
    background-color: #2bdd52;
    scale: 1.1;
}

.product:hover{
    opacity: 1;
}



footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(187, 183, 183);
    flex-direction: column-reverse;
    padding: 15px 0px;
    gap: 15px;
}

.links a{
    padding: 0px 20px;
}

a{
    color: #000;
    text-decoration: none;
}

.bottom-text{
    display: grid;
    gap: 10px;
}

@media (min-width: 425px){
    p{
        padding-right: 60px;
        margin: 5px 0px 15px;
    }
    
    .product-text{
        display: block;  
        text-align: justify;
        gap: 10px;
        padding: 2rem 3rem;
    }

    .bottom-text{
        display: flex;
        justify-content: space-between;
    }
    
    footer{
        flex-direction: row;
        padding: 15px ;
    }
    
}

@media (min-width: 426px) and (max-width: 768px){
    .products{
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 0rem ;
    }

}

@media (min-width: 769px) {
    .products{
        grid-template-columns: repeat(3, 1fr);
    }

}



